<div class="header-box">
  <div class="button-box">
    <button class="header-button" (click)="toShop()">Produkter</button>
    <button class="header-button" (click)="toCart()">Kurv</button>
  </div>
</div>
