<app-header></app-header>
<!-- If no products, display loading message -->
<div *ngIf="productList.length == 0">
  <p>Loading products</p>
</div>
<!-- Display product data when products have been fetched from API -->
<div *ngIf="productList.length > 0">
  <section class="products">
    <div
      class="product-card"
      *ngFor="let product of productList; let i = index"
    >
      <div>
        <div class="product-image">
          <img
            src="http://rapido-343-full.websrv01.smartpage.dk{{
              productList[i].VariantInfo.Image.Value
            }}"
            alt="Not available"
          />
        </div>
        <div class="product-info">
          <p>ID: {{ productList[i].Id }}</p>
          <p>Name: {{ productList[i].Name }}</p>
          <p>Price: {{ productList[i].Price.Price }}</p>
        </div>
        <div class="product-buttons">
          <button (click)="addToCart(productList[i].Id)">Add to Cart!</button>
          <div *ngIf="checkForItem(productList[i].Id)">
            <button (click)="deleteItem(productList[i].Id)">
              Delete Item!
            </button>
          </div>
        </div>
      </div>
      <!-- <img src="http://rapido-343-full.websrv01.smartpage.dk{{productList[i].AssetCategories[0].Assets[3].Value}}" alt=""> IMAGES NOT AVAILABLE IN API FOR PRODUCTS OTHER THAN PROD7 -->
    </div>
  </section>
</div>
