.products {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
    flex-direction: column;
    display: flex;
  }

  .product-image img {
      max-width: 100%;
  }
  .product-info {
    margin-top: auto;
  }

  .product-buttons {
      display: flex;
  }