<app-header></app-header>

<!-- Loop over orderlines and display orderline items -->
<div *ngFor="let orderLine of cart.OrderLines">
  <p>ProductID: {{ orderLine.ProductId }}</p>
  <p>Product Name: {{ orderLine.ProductName }}</p>
  <p>Quantity: {{ orderLine.Quantity }}</p>
  <p>Unit Price: {{ orderLine.Price.Price }}</p>
</div>
<p>Order Total: {{ cart.Price.Price }}</p>
